<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Error 404 - Page Not Found!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
</head>
<body>
    <div class="container">
        <img class="ops" src="{{ url_for('static', filename='images/404.svg') }}" />
        <br />
        <h3>
            This is not what you want, but we are very serious. I just want to tell you in a special way that the page you visited does not exist or the file is invalid.</h3>
        <br />
    </div>
</body>
</html>